# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
testing
*.local

# Editor directories and files
*.bkp
*.xlsx
*.url
*.lnk
*.txt
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
server/vendor/autoload.php
server/vendor/composer/autoload_classmap.php
server/vendor/composer/autoload_namespaces.php
server/vendor/composer/autoload_psr4.php
server/vendor/composer/autoload_real.php
server/vendor/composer/autoload_static.php
server/vendor/composer/ClassLoader.php
server/vendor/composer/installed.json
server/vendor/composer/installed.php
server/vendor/composer/InstalledVersions.php
server/vendor/composer/LICENSE
server/vendor/composer/platform_check.php
server/vendor/firebase/php-jwt/CHANGELOG.md
server/vendor/firebase/php-jwt/composer.json
server/vendor/firebase/php-jwt/LICENSE
server/vendor/firebase/php-jwt/README.md
server/vendor/firebase/php-jwt/src/BeforeValidException.php
server/vendor/firebase/php-jwt/src/CachedKeySet.php
server/vendor/firebase/php-jwt/src/ExpiredException.php
server/vendor/firebase/php-jwt/src/JWK.php
server/vendor/firebase/php-jwt/src/JWT.php
server/vendor/firebase/php-jwt/src/JWTExceptionWithPayloadInterface.php
server/vendor/firebase/php-jwt/src/Key.php
server/vendor/firebase/php-jwt/src/SignatureInvalidException.php
REST API basics- CRUD, test & variable.postman_collection.json
client/TO-DO.md
